<div class="jumbotron">
    <h1>Lead Management API</h1>
    <p class="lead">The Lead Managment API is used to provide HTTP services and data management to the lead tracker mobile and web applications </p>
    <p>
        <a href="/odata/$metadata" class="btn btn-primary btn-lg">View service specification</a>
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Learn more about WebAPI</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://www.asp.net/web-api">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Learn more about Odata</h2>
        <p>OData (Open Data Protocol) is an ISO/IEC approved, OASIS standard that defines a set of best practices for building and consuming RESTful APIs.</p>
        <p><a class="btn btn-default" href="http://www.odata.org/">Learn more &raquo;</a></p>
    </div>
  

</div>
<div class="row">
    <div class="col-md-6">
        <h2>Test using Postman</h2>
        <p>3+ million developers use Postman to share, test, document & monitor APIs..</p>
        <p><a class="btn btn-default" href="https://www.getpostman.com/">Learn more &raquo;</a></p>
    </div>
</div>
